@model IEnumerable<Repository.Model.CartModel.CartViewModel>

@{
    ViewData["Title"] = "GetCart";
    var shopId = ViewBag.ShopId;
}

<h3>Cart Item</h3>

<p class="d-flex justify-content-end">
    <a class="btn btn-success text-light mr-1 " onclick="location.href = '@Url.Action("CreateCart","Cart",new {shopId=shopId})'">Add more product</a>
    <a class="btn btn-primary text-light " onclick="location.href = '@Url.Action("DeleteCart","Cart",new {shopId=shopId})'">Delete Cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                NAME
            </th>
            <th>
                QTY
            </th>
            <th>
                PRICE
            </th>
            <th>
                DISCOUNT RATE
            </th>
            <th>
                DISCOUNT AMOUNT
            </th>
            <th>
                AMOUNT
            </th>
            <th>
                NOTE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
