@model Repository.Model.ProductModel.ProductDetailModel

@{
    ViewData["Title"] = "DetailProduct";
}

<h3>Details Product</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameShop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Properties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Properties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUtcDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUtcDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
