@model Repository.Model.ShopCreateModel

@{
    ViewData["Title"] = "Details";
}

<h3>Manage Shop</h3>

<div>
    <hr />
    <div class="d-flex justify-content-end">
        <button class="btn btn-success mr-1" onclick="history.back()">Back</button>
        <button class="btn btn-warning mr-1" onclick="location.href='@Url.Action("Edit", "Shop", new { shopId = Model.ShopId})'">Edit</button>
        <button class="btn btn-info mr-1" onclick="location.href='@Url.Action("ShowCollab", "Shop", new { shopId = Model.ShopId})'">Collaborator</button>
        <button class="btn btn-info mr-1" onclick="location.href='@Url.Action("Index", "Product", new { shopId = Model.ShopId})'">Product</button>
        <button class="btn btn-danger mr-1" onclick="location.href='@Url.Action("Delete", "Shop", new { shopId = Model.ShopId})'">Delete</button>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUtcDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedUtcDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Avatar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopStatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SumUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SumUser)
        </dd>
    </dl>
</div>

