@model IEnumerable<Repository.Model.ShopViewModel>

@{
    ViewData["Title"] = "Shop";
}

<h3>Shop Manage</h3>
<br />
<br />
<div class="d-flex justify-content-end">
    <a class="btn btn-success mr-1" asp-action="Index" asp-controller="Home">Back</a>
    <a class="btn btn-primary" asp-action="Create">Create New Shop</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <button class="btn btn-warning"
                            onclick="location.href='@Url.Action("Edit", "Shop", new { shopId = item.ShopId })'">
                        Edit
                    </button>
                    <button class="btn btn-info"
                            onclick="location.href='@Url.Action("Details", "Shop", new { shopId = item.ShopId })'">
                        Details
                    </button>
                    <button class="btn btn-danger"
                            onclick="location.href='@Url.Action("Delete", "Shop", new { shopId = item.ShopId })'">
                        Delete
                    </button>
                    <!--<div class="dropdown">
                    <a class="btn btn-link p-0" href="#" data-toggle="dropdown">
                        Action
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-left">
                        <button class="dropdown-item btn btn-outline-warning"
                                onclick="location.href='@Url.Action("Edit", "Shop", new { shopId = item.ShopId })'">
                            Edit
                        </button>
                        <button class="dropdown-item">
                            <i class=""></i>
                            @Html.ActionLink("Details", "Details", new { shopId = item.ShopId })
                        </button>
                        <button class="dropdown-item">
                            <i class=""></i>
                            @Html.ActionLink("Delete", "Delete", new { shopId = item.ShopId })
                        </button>-->
                    @*<button class="dropdown-item">
                            <i class=""></i>
                            @Html.ActionLink("Collaborators", "ShowCollab", new { shopId = item.ShopId })
                        </button>
                        <button class="dropdown-item">
                            <i class=""></i>
                            @Html.ActionLink("Add Collaborator", "CreateCollab", new { shopId = item.ShopId })
                        </button>*@

                    <!--</div>
                    </div>-->
                </td>

            </tr>
        }
    </tbody>
</table>



