@model IEnumerable<Repository.Model.ShopViewModel>

@{
    ViewData["Title"] = "Shop";
}

<h3>Shop Manage</h3>
<div class="d-flex justify-content-end">
    <a class="btn btn-success mr-1" asp-action="Index" asp-controller="Home">Back</a>
    <a class="btn btn-primary" asp-action="Create">Create New Shop</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <button class="btn btn-info"
                            onclick="location.href='@Url.Action("Details", "Shop", new { shopId = item.ShopId })'">
                        View
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>



