@using Repository.Repository
@model PagedResult<Repository.Model.CollabViewModel>

@{
    ViewData["Title"] = "ShowCollab";
    var shopId = ViewBag.ShopId;
}

<h3>Manage Collaborator</h3>

<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-success mr-1" onclick="location.href='@Url.Action("Details", "Shop", new { shopId = shopId})'">Back</button>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("CreateCollab", "Shop", new { shopId = shopId})'">Create Collaborator</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FullName)*@MOBILE
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Mobile)*@NAME
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.GenderName)*@GENDER
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.GenderName)*@STATUS
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <button class="btn btn-warning"
                            onclick="location.href = '@Url.Action("EditCollab", "Shop", new { userId = item.UserId, shopId = item.ShopId })'">
                        Edit
                    </button>
                    <button class="btn btn-info"
                            onclick="location.href = '@Url.Action("DetailsCollab", "Shop", new {userId = item.UserId, shopId = item.ShopId })'">
                        Details
                    </button>
                    <button class="btn btn-danger"
                            onclick="location.href = '@Url.Action("DeleteCollab", "Shop", new { userId = item.UserId, shopId = item.ShopId  })'">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

